body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 100px,50px,30px,50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: 100px,50px,30px,50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.titulo {
    margin-bottom: 30px;
    text-transform: uppercase;
}
#row{

    margin: 100px,50px,30px,50px;
} {
    
}
.container-login {
    width: 400px;
    margin: 100px,50px,30px,50px;
    
}

.titulo {
    margin: 100px,50px,30px,50px;
    text-transform: uppercase;
}
.invisivel
{
    display:none;
}
